

.scroll-down header{
    transform: translate3d(0, -100%, 0);
    transition: 0.2s ease-in;
}
.scroll-up header{
    filter:drop-shadow(0 -10px -20px rgb(68, 67, 67))
}
nav.desktop-nav{
    position: fixed;
    top:0;
    left:0;
    padding:15px; 
    width: 100%;
    transition:0.6s;
  z-index: 100000;
  box-shadow: 0 0 12px 0 rgba(3, 3, 3, 0.538);
    padding:15px;
    background-color: #efefef8f;
  /* border-bottom: 20px rgba(73, 40, 40, 0.782); */
  display: flex;
  flex-direction: row;
  
  
}
.logo{
    width: 35px;
}
nav.mobile-nav{
    background:rgba(0,0,0,0.5);
    width: 100%;
}

.banner{
    position: relative;

}

.mobile-nav a {
    color:white;
}


#home{
    text-align: center;
    margin: auto;
    display: block;
}


.nav_Links{
    position: absolute;
    float: right;
    right:10px;
    gap:3rem;
    display:inline-flex;
    flex-direction: row;
    font-size:22px;
    
}

.nav_Links a{
    color: black;

}
 /* a{
    color: white;
 } */
a:hover{
    color:#e78ea0;
}





/* nav responsivesnesss  */

@media screen and(max-width:990px) {
   header .nav_container,header .desktop-nav{
  display: none !important;
        
    }

    .mobile{
        font-size: 2em;
    }
}
.nav-mobile-btn{
   display: block;
   left:0; 
    cursor: pointer;
    
}
.mobile-nav-links{
    text-align: center;
   margin-top: 5%;
   margin-bottom: 2%;


 
}

.nav-mobile-btn, .btnimg, .btnclose{
   background-color: transparent;
  
   
}
.btnclose, .mobile-nav-links{
    display:none;
}

.mobile-nav{
  /* opacity: 0.75; */
  position: sticky;
  width: 110%;
  top:0;
  z-index:1000;
  overflow:hidden;
  padding-top: 2%;
  padding-bottom: 1%;
  
}


@media screen and (min-width:990px){
    .mobile-nav{
        display: none;
        
       
    }
    .nav-mobile-btn{
        display: none;
        font-size: 1em;
    }
} 
