.footer{
   
   position:relative;
   margin-top: 3%;
 text-align: center;
    bottom: 0;
   width: 100%;
   color: #fff;
 
  
}

.footer_container{

   background-color: black;
   height: 3.7rem;
}
.footer_credits{
   float: left;
   margin-left: 4em;

  
}
#github{
float: right;
margin-right: 10px;

}
#linkedin{
   float: right;
   margin-right: 20px;
   margin-left: 10px;
}


@media screen and (max-width: 650px) {
   .footer_container{
   width: 100%;
  margin-top: 10px;
  

   }
   .footer_credits{
      transition: 0.5s;
      margin-left: 15px;
 
 
    }


}



@media screen and (max-width: 445px) {
   .footer_container{
     padding-bottom: 5em;

   }
   .footer_credits{
     margin-left: 10px;


   }

}

