#credit{
    color:rgba(254, 255, 250, 0.658);
    position:fixed;
    bottom:-3em;
    left:-30em;
}
#home{
    color:white;
     position: relative;
     top:9em;
    text-align: center;
    font-size: 2rem;
}
nav{
    padding: 25px 100px;
    background:rgba(0,0,0,1)
}
section.coverPhoto{
    max-width: 100%;
    max-height: fit-content;
    height:100vh;
    background: url(coverphoto.jpg);
    background-size: cover;
    }