*{
    margin:0;
    border:0;
    outline:0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family:Bebas Neue;
}
html{
    scroll-behavior: smooth;
   
}
body{
    background-color:#fff;
    flex-direction: column;
 
}
nav.desktop-nav, nav.sticky{
    position: fixed;
    top:0;
    left:0;
    /* padding:30px 100px; */
    width: 100%;
    transition:0.6s;
  z-index: 100000;
  
}
nav ul li {
    position: relative;;
}
nav ul li a{
    position: relative;
    line-height: 45px;
 transition:0.6s;
 
}

nav.mobile-nav{
    background:rgba(0,0,0,0.5);
    width: 100%;
}

.banner{
    position: relative;

}
nav.sticky{
   background-color: rgba(0,0,0,0.5);
  padding: 25px 100px;
 
}



#home{
    text-align: center;
    margin: auto;
    display: block;
}


.nav_Links{
    position: fixed;
    left:700px;
    top: .5em;
    width: 100%;
    gap:3rem;
    list-style-type: disc;
    display:flex;
    flex-direction: row;
    font-size: x-large;
 

 
}
 a{
    color: #fff;
 }
a:hover{
    color:rgba(245, 54, 140, 0.779);
}





/* nav responsivesnesss  */

@media(max-width:1215px) {
    .desktop-nav{
        display: none;
        
    }

    .mobile{
        font-size: 2em;
    }
}
.nav-mobile-btn{
   display: block;
   left:0; 
    cursor: pointer;
    
}
.mobile-nav-links{
    text-align: center;
   margin-top: 5%;
   margin-bottom: 2%;


 
}

.nav-mobile-btn, .btnimg, .btnclose{
   background-color: transparent;
  
   
}
.btnclose, .mobile-nav-links{
    display:none;
}

.mobile-nav{
  /* opacity: 0.75; */
  position: sticky;
  width: 110%;
  top:0;
  z-index:10;
  overflow:hidden;
  padding-top: 2%;
  padding-bottom: 1%;
  
}


@media(min-width:1215px){
    .mobile-nav{
        display: none;
        
       
    }
    .nav-mobile-btn{
        display: none;
        font-size: 1em;
    }
} 


